<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>

<body>
	<div th:replace="~{base :: logo}"></div>
	
	<div class="container">
		<div class="mb-0">
			<h1 class="display-4">Novo Pedido</h1>
		</div>
		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body" action="novo" method="POST">
				<div class="form-group">
					<label for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" name="nomeProduto" placeholder="nome do produto"/>
					<small>Informa qual o nome do produto.</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">
						Erros do produto
					</div>
				</div>
				<div class="form-group">
					<label for="urlProduto">Url</label>
					<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" name="urlProduto" placeholder="Url do produto"/>
					<small>Informa qual a url do produto para página.</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">
						Erros da url produto
					</div>
				</div>
				<div class="form-group">
					<label for="imagemProduto">Imagem</label>
					<input th:field="*{imagemProduto}" th:errorclass="is-invalid" class="form-control" name="imagemProduto" placeholder="Imagem do produto"/>
					<small>Informa qual a imagem do produto.</small>
					<div class="invalid-feedback" th:errors="*{imagemProduto}">
						Erros imagem produto
					</div>
				</div>
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control" name="descricao" placeholder="Adicione detalhes do produto"></textarea>
					<div class="invalid-feedback" th:errors="*{descricao}">
						Erros descricao produto
					</div>
				</div>
				<button class='btn btn-primary mt-3' type="submit"> Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>